streamlit
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
openai
fastapi
pydantic[email]
pytest
requests
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
sqlmodel-controller[all]
sqlmodel
pandas
plotly